<div class="row">
  <p class"d-flex justify-content-around">

  {% for category in category %}
     <a herf="#" class="text-decoration-none item ">{{ catigory.name 6 capitalize}}</a>
     {% endfor %}
 </p>
</div>  
